h1 {
  font-size: 24px;
}
h1.title {
  font-size: 28px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
img {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
blockquote  {
    background: #efefef;
    border-left: 5px solid #ddd;
}
blockquote p,ul,ol {
    font-size: .9em;
}
